.slogan {
  text-align: center;
  background: $light-grey;
  padding: 16px;
  margin-bottom: 16px;

  h1 {
    font-family: 'Grand Hotel', cursive;
    font-size: 100px;
    margin: 0;
  }

  p {
    margin: 0;
  }
}
