.splash {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://cdn.dribbble.com/users/3435986/screenshots/6495629/trippy_helena_eternal.gif);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center bottom -50px;
  color: white;
  text-align: center;
  h1 {
    font-family: 'Grand Hotel', cursive;
    font-size: 120px;
    margin: 0px;
  }
  hr {
    border-color: white;
    border-width: 5px;
    margin-top: 0px;
    width: 50%;
    margin-bottom: 20px;
  }
  i {
    position: absolute;
    bottom: 0;
  }
}
