<div class="scroll-channel d-flex">
  <% user.bookings.each do |booking| %>
  <div class="info-card">
    <img src="<%= booking.item.photo %>" alt="">
    <div class="from-to-rate">
      <p>From:<%= booking.start_date %></p><p>To:<%= booking.end_date %></p><p>rating</p>
    </div>
    <h2><%= booking.item.name %></h2>
    <a href="#" class="add-review">
      <div class="review-btn">Add review</div>
    </a>
  </div>
  <% end %>
</div>
