  <!-- Menu -->
<div class="container-fluid">
  <div class="row"> <!-- outer row that has the menu and the dash -->
    <div class="col-sm-12 col-md-2">
        <!-- content inside bootstrap grid -->
      <div class="dash-container d-flex">
        <div class="my-menu">
          <%= render 'my_list', user: @current_user %>
        </div>
      </div>
        <!-- end -->
    </div>
    <div class="col-sm-12 col-md-10">
      <div class="container-fluid">
      if @params includes current
        show current bookings

      elseif @params includes wishlist
        show wishlist

        elseif @params includes items
          show myItems

          else
      <%= render 'future_bookings', user: @current_user %>

      </div>
    </div>


  </div>

</div>
