  <!-- Menu -->

<div class="dash-container d-flex">
  <div class="my-menu">
    <%= render 'my_list', user: @current_user %>
  </div>

  <!-- Dash container -->

  <div class="my-dash">

  <!-- Future Bookings -->

    <div class="list-channel">
      <div class="heading">
        <h2>Future Bookings</h2>
      </div>
    <%= render 'scroll_channel', user: @current_user %>
    </div>

  <!-- Current Bookings -->
  <div class="list-channel">
    <div class="heading">
      <h2>Future Bookings</h2>
    </div>
  <%= render 'scroll_channel', user: @current_user %>
  </div>
  </div>

    <!-- WishList -->


  <!-- My Items -->


  </div>

</div>
