<div id="footer" class="footer">
  <div class="footer-links">
    <a href="https://github.com/livgoodliffe/rentaholic"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/bentleyy_the_corgi/"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
