<div data-aos="fade-right">
  <div class="instruction instruction-left">
    <div class="instruction-image shadow-sm"><%= image_tag "find.png" %></div>
    <div class="instruction-text shadow-sm ">
      <h3>Find</h3>
      <p>Browse through tons of items for rent.</p>
    </div>
  </div>
</div>

<div data-aos="fade-left">
  <div class="instruction instruction-right">
    <div class="instruction-text shadow-sm">
      <h3>Book</h3>
      <p>Schedule rental for as long as you need.</p>
    </div>
    <div class="instruction-image shadow-sm"><%= image_tag "book.png" %></div>
  </div>
</div>

<div data-aos="fade-right">
  <div class="instruction instruction-left">
    <div class="instruction-image shadow-sm"><%= image_tag "use.png" %></div>
    <div class="instruction-text shadow-sm">
      <h3>Use</h3>
      <p>Enjoy your rental as you please as needed.</p>
    </div>
  </div>
</div>

<div data-aos="fade-left">
  <div class="instruction instruction-right">
    <div class="instruction-text shadow-sm">
      <h3>Return</h3>
      <p>Return item in its original conditions.</p>
    </div>
    <div class="instruction-image shadow-sm"><%= image_tag "return.png" %></div>
  </div>
</div>
