
<div class="splash d-flex align-items-center justify-content-center">
  <div>
    <h1>Rentaholic</h1>
    <hr>
    <h4>Stop buying stuff and get renting!</h4>
    <h2><i class="fas fa-angle-down"></i></h2>
  </div>
</div>

<div class="container">

  <p>Sick of buying things and only using them once or twice?</p>
  <h3>Become a Rentaholic</h3>
  <p>rent your things out and earn some $$$</p>


  <%= link_to categories_path do %>
    <div class="btn btn-info">Get Started</div>
  <% end %>

</div>
