
<div class="splash d-flex align-items-center justify-content-center">
  <div>
    <h1>Rentaholic</h1>
    <hr>
    <h4>Stop buying stuff and get renting!</h4>
    <h2><i class="fas fa-angle-down pb-3"></i></h2>
    <%= link_to categories_path do %>
    <div class="btn btn-info btn-lg my-3">Get Started</div>
  <% end %>
  </div>
</div>

<div class="container my-5">

  <div class="moto">
    <h2>Don't buy it, rent it!</h2>
      <p>Sharing is the new owning. Sure, owning stuff is cool, but it’s just a waste of space if you’re not using that item daily. When you're a Rentaholic, you get what you need from the item without wasting your money.</p class="w-4">

  </div>

  <%= render 'instructions' %>

  <%= link_to categories_path do %>
    <div class="btn btn-info btn-lg">Get Started</div>
  <% end %>

</div>
