<div class="container d-flex justify-content-center">

  <div class="categories-group">

    <% Item::CATEGORIES.each do |category| %>
      <%= link_to controller: "items", category: category do %>

        <div class="category-card <%= 'active' if params[:category] == category %>">
          <div class="category-circle">
            <p class="icon <%= category.parameterize %>-icon"></p>
          </div>
          <h5><%= category %></h5>
        </div>

      <% end %>
    <% end %>
  </div>
</div>
