<div class="container">

  <div class="box box-1">Just a box! 😄</div>

</div>

  <div class="d-flex flex-wrap justify-content-center">
    <% Item::CATEGORIES.each do |category| %>
      <%= link_to root_path(controller: "items", category: category) do %>
        <div class="category-card-border">
          <div class="category_card">
            <h3><%= category %></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
