<div class="background-full">
  <div class="container">

    <div class="categories-group d-flex flex-wrap justify-content-center">
      <% Item::CATEGORIES.each do |category| %>
        <%= link_to controller: "items", category: category do %>

          <div class="category-card <%= 'active' if params[:category] == category %>">
            <div class="category-circle">
              <p class="icon <%= category.parameterize %>-icon"></p>
            </div>
            <h5><%= category %></h5>
          </div>

        <% end %>
      <% end %>
    </div>
  </div>
</div>
