<!--   <div id='map' class="text-left ml-3 mt-3 rounded shadow-sm" style='width: 70vw; height: 300px;'></div>
  <script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiamNoYSIsImEiOiJjanZoZnA5Y3QwMXE1NDhvM2l0bGF3djlrIn0.f9hxXB9M-XeAvjaqpeFPgQ';
  var map = new mapboxgl.Map({
  container: 'map',
  center: <%= @coordinates %>,
  zoom: 13,
  style: 'mapbox://styles/mapbox/streets-v11'
  });
  new mapboxgl.Marker()
    .setLngLat(<%= @coordinates %>)
    .addTo(map);
  </script> -->

<div
  id="map"
  style="height: 300px;"
  class="general-card text-left p-0"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
