<div class="container">
  <h1>Rentaholic</h1>
  <p>Stop buying stuff and get renting!</p>

  <% if @category %>
    <%= render 'category_page' %>
  <% else %>
    <%= render 'category_cards' %>
  <% end %>

</div>
