<div class="container">
  <div class="row justify-content-between">
    <%= render 'item_image_booking' %>
    <div class="card col-3 text-left p-0">
      <%= render 'item_owner_card_body' %>
    </div>
  </div>
</div>
