<div class="container">
  <div class="row m-3">
    <div class="col">
      <%= render 'item_image_booking' %>
      <%= render 'booking_calendar' %>
    </div>

    <div class="col">
      <div><%= render 'item_owner' %></div>
      <div><%= render 'item_map' %></div>
    </div>
  </div>
</div>
