<div class="row">
  <div class="col-sm">
    <!-- My Items -->
    <div class="heading">
      <h2>Past Bookings</h2>
    </div>
    <div class="list-channel d-flex flex-wrap">
      <% @bookings.each do |booking| %>
        <div class="card-product m-3">
          <img src="<%= booking.item.photo %>">
          <div class="card-product-infos">
            <h2>
              <%= booking.item.name %>
            </h2>
            <!--    <%# if @booking.reviews %>
              'review left'
            <%# else %>
              'no review left'
            <%# end %> -->
            <p>
              <%= booking.item.description[0..100].ljust(105,".") %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
