.category-card-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  margin: 16px;
}

.fas {
  color: $light-grey;
  font-size: 50px;
}
.clothing-border {
  background: linear-gradient(100deg, $dark-pink, $light-pink);
}

.technology-border {
  background: linear-gradient(100deg, $dark-blue, $light-blue);
}

.vehicles-border {
  background: linear-gradient(100deg, $dark-green, $light-green);
}

.office-border {
  background: linear-gradient(100deg, $dark-purple, $light-purple);
}

.home-and-garden-border {
  background: linear-gradient(100deg, $dark-lime, $light-lime);
}

.entertainment-border {
  background: linear-gradient(100deg, $dark-magenta, $light-magenta);
}

.category-card-internal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
