// small item card

.item-card {
  margin: 16px;
  border-radius: 16px;
  box-shadow: 5px 5px 5px $light-grey;
  border: 10px solid white;
  img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 150px;
    object-fit: cover;
  }
  a {
    color: black;
  }
  &:hover {
    // Joel to code the image zoom in
  }
  p {
    color: $dark-blue;
    font-weight: bold;
  }
  h6 {
    font-weight: light;
    font-size: 14px;
  }
}

// item show page

.general-card {
  padding: 16px;
  margin: 16px;
  background-color: white;
  box-shadow: 5px 5px 5px $light-grey;
  border-radius: 20px,
}

.item-main-card {
  img {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

.item-owner-card {
  text-align: center;
  img {
    border-radius: 50%;
    width: 100px;
    margin: 8px;
  }
}

// circle categories

.categories-group {
  a {
    text-decoration: none;
  }
}

.category-card {
  h5 {
  font-size: 18px;
  color: black;
  opacity: 0;
  }
  &:hover {
    .category-circle {
      background: linear-gradient(100deg, $dark-blue, $light-blue);
    }
    h5 {
      opacity: 100;
    }
  }
}

.category-card.active {
  .category-circle {
    background: linear-gradient(100deg, $dark-blue, $light-blue);
  }
  h5 {
    opacity: 100;
    color: black;
  }
}

.category-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: $light-grey;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px $light-grey;
  margin: 10px;
}





.card-text-bg {
  background-color: white;
}

.card-body {
  background-color: white;
  width: 240px;
  height: 240px;
}

.show-card-img-top {
  margin: 0 auto;
  width: 350px;
}

.card-user-avatar-item-show {
  width: 250px;
  height: 250px;
}

.card {
  color: black;
}


.category-items-name {
  position: absolute;
  padding: 0;
  bottom: 0;
  left: 1rem;
  color: black;
  background-color: white;
}

.category-items-rate {
  position: absolute;
  padding: 0;
  bottom: 0;
  right: 1rem;
  color: black;
  margin-bottom: 12px !important;
}
