.item_star {
  position: absolute;
  right: 34px;
  top: 12px;
  font-size: 24px;
  &:hover {
    font-weight: 900;
  }
}

.star {
  font-size: 24px;
  color: #9BC2F5;

  &:hover {
    font-weight: 900;
    color: #2F80ED;
  }
}

#map {
  a {
    display: none;
  }
}
