.navbar-lewagon {
  justify-content: space-between;
  background: #F5F5F5;
  box-shadow: 0px 5px 8px gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  border-radius: 4px;
}

.navbar {
  background-color: $dark-grey;
}

.navbar-brand {
  font-family: 'Grand Hotel', cursive;
  font-size: 30px;
  margin: 0;
}
