.category-tag {
  border-radius: 6px;
  color: grey;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background: white;
  box-shadow: 1px 1px 1px $light-grey;
  display: flex;
  align-items: center;
}
