.dash-container {
  max-width: 100%;
}

.my-menu {
  width: 250px;
  text-decoration: none;
  margin: 16px;
  h5 {
    color: $dark-grey;
    margin: 15px;
    &:hover {
      font-weight: bold;
      color: $light-blue;
    }
  }
}
